<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Dashboard</title>
</head>
<body>
<main layout:fragment="content" class="main">
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}" style="color: red; font-weight: bold;"></p>
    </div>
    <div class="dashboard-stats" th:unless="${errorMessage}">
        <p>Users: <span th:text="${totalUsers}">0</span></p>
        <p>Total Chats: <span th:text="${totalChats}">0</span></p>
        <p>Total Messages: <span th:text="${totalMessages}">0</span></p>
    </div>
</main>
</body>
</html>